*{
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    list-style: none;
    cursor: url(../Images/cursor.svg) 32 32, auto;
}

.header{
    background-color: #1BDAFE;
    background-image: linear-gradient(to right, #4EADFE, #05EDFE);
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 40px;
}

.header-div-logo a{
    color: white;
    display: flex;
    font-size: 25px;
}

.dot{
    color: #0099e5 ;
    font-weight: bold;
}

.header-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 250px;
}

.header-div-navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-div-navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 20px;
}

.header-div-navbar ul li p:hover{
    transform: scale(1.1);
    transition: white 0.3ms ease;
}

.paragrapgh{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.header-div-call{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 20px;
}

.call-span{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 10px;
    background-color: #41E9FE;
    border: 1px solid #41E9FE;
}

.call-span:hover{
    border: 1px solid white;
    background-color: transparent;
    transition: 0.2s ease;
}

.main-div{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
    background-color: #1BDAFE;
    background-image: linear-gradient(to right, #4EADFE, #05EDFE);
    color: white;
    padding-top: 100px;
    padding-bottom: 200px;
}

.main-div h1{
    font-size: 45px;
}

.main-div p{
    font-size: 14px;
    font-weight: 500;
}

.third-main-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.third-main-section-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.third-main-section-div-top{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.third-main-section-div-center{
    display: flex;
    gap: 50px;
}

.third-main-section-div-center-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 15px;
    border-radius: 2px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.read{
    background-color: transparent;
    color: #0099e5;
    border-radius: 30px;
    padding: 14px 24px;
    border: 1px solid #0099e5;
}

.read:hover{
    background-color: #0099e5;
    color: white;
    transition: 0.4s ease;
    font-weight: 600;
}

.fourth-main-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.fourth-main-section-div-text{
    width: 100%;
    display: flex;  
    flex-direction: row;
    align-items: center;
    gap: 100px;
    justify-content: space-around;
    padding-bottom: 90px;
}

.fourth-main-section-div-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    width: 100%;
}

.fourth-main-section-div-slide-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer{
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #EFEFEF;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}

.footer-div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.footer-div-up{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
    gap: 130px;
}

.contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
}

.border{
    border-bottom: 4px solid rgba(0, 153, 229, 0.1);
    width: fit-content;
    color: #777777;
}

.border:hover{
    border-bottom: 4px solid #0099E5;
    transition: 0.5s ease;
    color: black;
    font-weight: 500;
}

.media{
    display: flex;
    flex-direction: row;
}

.media ul{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.media ul li{
    background-color: #CCCCCC;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40%;
}

.media ul li:hover{
    background-color: #0099E5;
    transition: 0.3s ease-out;
}

.footer-div-down{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 250px;
    margin-top: 50px;
    font-size: 14px;
    color: #777777;
}

.footer-div-down p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.spanb{
    border-bottom: 4px solid rgba(0, 153, 229, 0.1);
    width: fit-content;
}

.spanb:hover{
    border-bottom: 4px solid #0099E5;
    transition: 0.5s ease;
    color: black;
    font-weight: 500;
}

