* {
  padding: 0;
  margin: 0;
  border: none;
  font-family: "Montserrat", sans-serif;
}

.fixed {
  position: fixed;
  top: 0;
  right: 0;
  background-color: transparent;
}

.fixed button {
  border: none;
  background-color: transparent;
}

.fixed button a {
  text-decoration: none;
  color: red;
  font-size: 2em;
  background-color: transparent;
}

.first-header-section-div {
  background-color: #3C403D;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}
.first-header-section-div-contact {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.first-header-section-div-contact-call {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.first-header-section-div-contact-call img {
  width: 16px;
  height: 16px;
}
.first-header-section-div-contact-mail {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.first-header-section-div-contact-mail img {
  width: 16px;
  height: 16px;
}
.first-header-section-div-follow {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.first-header-section-div-follow ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.first-header-section-div-follow ul li {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.first-header-section-div-follow ul li img {
  width: 16px;
  height: 16px;
}

.second-header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}
.second-header-section-div {
  display: flex;
  flex-direction: row;
  gap: 260px;
}
.second-header-section-div-menu {
  display: flex;
  flex-direction: row;
  gap: 100px;
}
.second-header-section-div-menu-navbar {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-weight: bold;
  color: #737373;
}
.second-header-section-div-login {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.second-header-section-div-login-register {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.second-header-section-div-login-register p {
  color: #23A6F0;
}
.second-header-section-div-login-utilites {
  display: flex;
  flex-direction: row;
  gap: 25px;
  color: #23A6F0;
}

.shop {
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: black;
  font-weight: normal;
}

.main-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url(./images/backgroun-img.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 130vh;
}
.main-section .main-section-div {
  display: flex;
  flex-direction: row;
  gap: 100px;
}
.main-section .main-section-div .main-section-div-text {
  display: flex;
  flex-direction: column;
  padding-left: 150px;
  color: white;
  gap: 30px;
}
.main-section .main-section-div .main-section-div-text h1 {
  font-size: 3em;
}
.main-section .main-section-div .main-section-div-text button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 36px;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 37px;
  color: white;
}/*# sourceMappingURL=style.css.map */