* {
  padding: 0;
  margin: 0;
  box-sizing: none;
}

.first-header {
  background-color: #23856D;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 50px;
}
.first-header .first-header-div {
  display: flex;
  flex-direction: row;
  gap: 70px;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-left: 50px;
}
.first-header .first-header-div1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.first-header .first-header-div2 {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.first-header .first-header-div3 {
  display: flex;
  flex-direction: row;
}
.first-header .first-header-div4 {
  display: flex;
  flex-direction: row;
}
.first-header .first-header-div4 ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.first-header .first-header-div4 ul li {
  list-style: none;
}

.second-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.second-header-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
}

.second-header-div1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.second-header-div2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.second-header-div2 ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.second-header-div2 ul li {
  list-style: none;
}

.second-header-div3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.second-header-div4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.second-header-div4 ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.second-header-div4 ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.first-main-section {
  display: flex;
  flex-direction: row;
}
.first-main-section .first-section-div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 50px;
  padding-left: 70px;
}

.second-main-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.second-main-section .second-section-div {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.second-main-section .second-section-div .p {
  border-bottom: 1px solid gray;
}
.second-main-section .second-section-div-img2 {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.second-main-section .second-section-div-ul {
  display: flex;
  flex-direction: column;
}
.second-main-section .second-section-div-ul ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.second-main-section .second-section-div-ul ul li {
  list-style: none;
}
.second-main-section .second-section-div-ul ul li .blue-color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #23A6F0;
}
.second-main-section .second-section-div-ul ul li .green-color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #2DC071;
}
.second-main-section .second-section-div-ul ul li .orange-color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #E77C40;
}
.second-main-section .second-section-div-ul ul li .darkblue-color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #252B42;
}
.second-main-section .second-section-div-ul2 {
  display: flex;
  flex-direction: row;
}
.second-main-section .second-section-div-ul2 ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.second-main-section .second-section-div-ul2 ul li {
  list-style: none;
}

.third-main-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 70px;
}
.third-main-section .third-section-div-text {
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.fourth-main-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.fourth-main-section .fourth-section-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 50px;
}
.fourth-main-section .fourth-section-div .text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.fourth-main-section .fourth-section-div .fourth-section-div-text2 ul li, .fourth-main-section .fourth-section-div .fourth-section-div-text3 ul li {
  list-style: none;
}

.fivth-main-section .span {
  padding: 130px;
  font-size: 1.5em;
  border-bottom: 1px solid gray;
}
.fivth-main-section .fivth-section-div {
  display: flex;
  flex-direction: column;
}
.fivth-main-section .fivth-section-div .fivth-section-div-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  padding: 10px;
}
.fivth-main-section .fivth-section-div .fivth-section-div-info .fivth-section-div-product {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sixth-main-section-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}
.sixth-main-section-img ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 80px;
}
.sixth-main-section-img ul li {
  list-style: none;
}

.sixth-main-section {
  padding: 50px;
}

.footer-first-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 30px 100px 30px 100px;
}
.footer-first-div .footer-first-ul ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.footer-first-div .footer-first-ul ul li {
  list-style: none;
}

.footer-second {
  display: flex;
  flex-direction: row;
  gap: 90px;
  justify-content: center;
  padding: 30px 100px 30px;
}
.footer-second .footer-ul-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-second .footer-ul-1 ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-second .footer-ul-1 ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.footer-second .footer-ul-1 .footer-ul-5-li {
  display: flex;
  flex-direction: row;
  border: 1px solid darkgray;
  border-radius: 2px;
}
.footer-second .footer-ul-1 .footer-ul-5-li input {
  padding: 10px 30px 10px 30px;
  border: none;
}
.footer-second .footer-ul-1 .footer-ul-5-li button {
  background-color: #23A6F0;
  color: white;
  border: none;
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
}

.footer-last {
  padding-left: 105px;
  padding-bottom: 50px;
  padding-top: 50px;
}
.footer-last p {
  letter-spacing: 3px;
}/*# sourceMappingURL=style.css.map */