* {
    padding: 0;
    margin: 0;
    border: none;
    font-family: "Montserrat", sans-serif;
    color: white;
  }
  
  .second-header-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #122E73;
  }
  .second-header-section-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 260px;
  }
  .second-header-section-div-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
  }
  .second-header-section-div-menu-navbar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-weight: bold;
    color: white;
  }
  .second-header-section-div-login {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .second-header-section-div-login-register {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .second-header-section-div-login-register p {
    color: white;
  }
  
  .second-header-section-div-login-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    button{
      display: flex;
      flex-direction: row;
      gap: 15px;
        background-color: #23A6F0;
        color: white;
        border-radius: 5px;
        padding: 15px 25px;
    }
  }
  
  .shop {
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: white;
    font-weight: normal;
  }

  .main-section{
    display: flex;
    flex-direction: column;
    background-color: #122E73;
    justify-content: space-around;
    .main-section-div{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 150px;
      margin-bottom: 100px;
      .main-section-div-text{
        display: flex;
        flex-direction: column;
        gap: 10px;
        h1{
          font-size: 3.5em;
        }
        button{
          background-color: #122E73;
          border: 1px solid white;
          width: fit-content;
          padding: 15px 36px;
          border-radius: 37px;
        }
      }
    }
  }

  .main-section-footer-div{
    display: flex;
    flex-direction: row;
    gap: 30px;
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  .main-section-footer-div-text{
    h3{
      color: #122E73;
    }
    p{
      color: #122E73;
    }
  }

  .all{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    position: absolute;
    background-color: white;
    width: fit-content;
  }
