*{
    padding: 0;
    margin: 0;
    border: none;
    font-family: "Montserrat", sans-serif;
}

.fixed {
    position: fixed;
    top: 0;
    right: 0;
    background-color: transparent;
  }
  
  .fixed button {
    border: none;
    background-color: transparent;
  }
  
  .fixed button a {
    text-decoration: none;
    color: red;
    font-size: 2em;
    background-color: transparent;
  }

.second-header-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    &-div{
        display: flex;
        flex-direction: row;
        gap: 260px;
        &-menu{
            display: flex;
            flex-direction: row;
            gap: 100px;
            &-navbar{
                display: flex;
                flex-direction: row;
                gap: 20px;
                font-weight: bold;
                color: #737373;
            }
        }
        &-login{
            display: flex;
            flex-direction: row;
            gap: 40px;
            &-register{
                display: flex;
                flex-direction: row;
                gap: 10px;
                p{
                    color: #23A6F0;
                }
            }
            &-utilites{
                display: flex;
                flex-direction: row;
                gap: 25px;
                color: #23A6F0;    
            }
        }
    }
}

.shop{
    display: flex;
    flex-direction: row;
    gap: 5px;   
    color: black;
    font-weight: normal;
}

.main-section{
    display: flex;
    flex-direction: row;
    color: white;
    .main-section-div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .main-section-div-left-side{
            display: flex;
            flex-direction: column;
            background-image: url(./images/left-img.svg);
            background-repeat: no-repeat;
            width: 629px;
            height: 647px;
        }
    }
}

button{
    background-color: transparent;
    width: fit-content;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px 40px;
}

.left-side-text{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    gap: 20px;
    margin-top: 200px;
    h1{
        font-size: 3em;
    }
}