*{
    padding: 0;
    margin: 0;
    border: none;
    font-family: "Montserrat", sans-serif;
}

.first-header-section-div{
    background-color: #23856D;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 10px;
    &-contact{
        display: flex;
        flex-direction: row;
        gap: 20px;
        &-call{
            display: flex;
            flex-direction: row;
            gap: 10px;
            img{
                width: 16px;
                height: 16px;
            }
        }
        &-mail{
            display: flex;
            flex-direction: row;
            gap: 10px;
            img{
                width: 16px;
                height: 16px;
            }
        }
    }
    &-follow{
        display: flex;
        flex-direction: row;
        gap: 20px;
        ul{
            display: flex;
            flex-direction: row;
            gap: 10px;
            li{
                display: flex;
                flex-direction: row;
                list-style: none;
                img{
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
}

.second-header-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    &-div{
        display: flex;
        flex-direction: row;
        gap: 260px;
        &-menu{
            display: flex;
            flex-direction: row;
            gap: 100px;
            &-navbar{
                display: flex;
                flex-direction: row;
                gap: 20px;
                font-weight: bold;
                color: #737373;
            }
        }
        &-login{
            display: flex;
            flex-direction: row;
            gap: 40px;
            &-register{
                display: flex;
                flex-direction: row;
                gap: 10px;
                p{
                    color: #23A6F0;
                }
            }
            &-utilites{
                display: flex;
                flex-direction: row;
                gap: 25px;
                color: #23A6F0;    
            }
        }
    }
}

.shop{
    display: flex;
    flex-direction: row;
    gap: 5px;   
    color: black;
    font-weight: normal;
}

.main-section{
    display: flex;
    flex-direction: row;
    .main-section-div{
        display: flex;
        flex-direction: row;
        padding-left: 250px;
        padding-top: 50px;
        gap: 20px;
        .main-section-div-collage-1{
            background-image: url(./images/left-1.svg);
            width: 332px;
            height: 700px;
            background-size: contain;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 30px;
            .main-section-div-collage-2{
                display: flex;
                flex-direction: column;
            }
        }
    }
}

.main-section-div-collage-3{
    display: flex;
    flex-direction: column;
    background-image: url(./images/right-top.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 555px;
    height: 272.5px;
    margin-bottom: 10px;
}

.main-section-div-collage-4{
    display: flex;
    flex-direction: row;
    gap: 10px;
    .main-section-div-collage-4-left{
        display: flex;
        flex-direction: column;
        background-image: url(./images/bottom-left.svg);
        background-size: c;
        background-repeat: no-repeat;
        height: 250px;
        width: 270px;
    }   
    .main-section-div-collage-4-right{
        display: flex;
        flex-direction: column;
        background-image: url(./images/bottom-right.svg);
        background-size: contain;
        background-repeat: no-repeat;
        height: 250px;
        width: 300px;
    }
}

.span{
    padding: 30px;
}